

h4 {
text-align: center;
}

header {
    background-color: aquamarine;
}

.landing-image {
    float: left;
    max-width: 50%;
    height: auto;
    
}

.vis-image {
        max-width: 100%;
        height: auto;
        padding: 5px;
}

.comp-image {
    max-width: 100%;
    height: auto;
}

.active {
    border:1px solid red;
  }

body {
    background-color: silver;
}

.container {
    background-color: whitesmoke;
}